@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2.4rem;
  font-family: sans-serif;
  color: #5a3e2b;
  font-family: "Quicksand";
  font-weight: 500;
}

.app {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

h1 {
  text-align: center;
  background-color: #f4a226;
  font-family: "Monoton";
  font-size: 8rem;
  text-transform: uppercase;
  font-weight: 400;
  word-spacing: 30px;
  letter-spacing: -5px;
  padding: 2.4rem 0;
}

.form {
  background-color: #e5771f;
  padding: 2.8rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

h3 {
  margin-right: 1.6rem;
  font-size: 2.4rem;
}

button,
select,
input {
  background-color: #ffebb3;
  color: #5a3e2b;
  font-family: inherit;
  border: none;
  border-radius: 10rem;
  padding: 1.2rem 3.2rem;
  font-weight: 700;
  font-size: 1.8rem;
  cursor: pointer;
}

.form button {
  text-transform: uppercase;
  background-color: #76c7ad;
}

.list {
  background-color: #5a3e2b;
  color: #ffebb3;
  padding: 4rem 0 10.5rem 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.actions button,
.list select {
  text-transform: uppercase;
  padding: 0.8rem 2.4rem;
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0 0.8rem;
}

.list ul {
  list-style: none;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.2rem;
  justify-content: center;
  align-content: start;
  overflow-y: auto;
  height: 20rem;
}

.list li {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

input[type="checkbox"] {
  height: 2rem;
  width: 2rem;
  accent-color: #e5771f;
}

.list li button {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.8rem;
  padding: 0.8rem;
  transform: translateY(2px);
}

.stats {
  background-color: #76c7ad;
  text-align: center;
  font-weight: 700;
  padding: 1.5rem 0;
  position: fixed;
  width: 100%;
  bottom: 0px;
}

@media (max-width: 768px) {
  html {
    font-size: 48%; /* يقلل حجم الريم شوية */
  }

  h1 {
    font-size: 4.2rem;
    word-spacing: 10px;
    letter-spacing: -2px;
    padding: 1.6rem 0;
  }

  .form {
    flex-direction: column;
    gap: 1.2rem;
    padding: 2rem 1rem;
    text-align: center;
  }

  .form h3 {
    margin-right: 0;
    font-size: 2rem;
  }

  button,
  select,
  input {
    width: 50%;
    padding: 1.2rem 2rem;
    font-size: 1.6rem;
  }

  .list {
    padding: 4rem 0 9rem 0;
  }

  .list ul {
    width: 80%;
    grid-template-columns: 1fr; /* عمود واحد */
  }

  .list li {
    justify-content: space-between;
  }

  .list li button {
    width: 10%;
  }

  .actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .actions button,
  .list select {
    width: 90%;
    margin: 0 auto;
    font-size: 1.4rem;
  }

  .stats {
    font-size: 1.8rem;
    padding: 1.5rem 1rem;
  }
}

@media (max-width: 1100px) {
  h1 {
    font-size: 4.2rem;
    /*word-spacing: 10px;*/
    /*letter-spacing: -2px;*/
    padding: 1.6rem 0;
  }
}
